<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>chatapp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0380D22C1F2637B300CFE789</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0380D2431F2637B800CFE789</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0380D24E1F2637B900CFE789</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
